/data
/dataset/MSCOCO-prepare/annotations
/dataset/MSCOCO-prepare/image
/dataset/MSCOCO-prepare/image_256
/dataset/MSCOCO-prepare/url_data.mat
/dataset/MSCOCO-prepare/caption_train.mat
/dataset/MSCOCO-prepare/caption.mat
/dataset/MSCOCO-prepare/test_id.mat
word2vector_matlab/GoogleNews_words.mat
word2vector_matlab/GoogleNews_vectors.mat
word2vector_matlab/GoogleNews-vectors-negative300.bin

/dataset/MSCOCO-prepare/._make_dictionary.m
/dataset/MSCOCO-prepare/._prepare_imdb.m
/dataset/MSCOCO-prepare/._resize_image.m
/word2vector_matlab/._GoogleNews-vectors-negative300.bin
/word2vector_matlab/._read_word2vec.m
dataset/MSCOCO-prepare/._annotations
dataset/MSCOCO-prepare/COCO_dictionary.mat
